.card {
  border-radius: calc(var(--global-gap) / 4);
  overflow: hidden;
  background-color: var(--primary-color);
  width: 360px;
  height: 300px;
  padding: calc(var(--global-gap) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--global-gap) / 8);
  transition: 2.4s;
}

.card:hover,
.card:focus {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 8px 64px -8px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  transition: 0.4s;
}

.project-info-section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);

  & h3>a {
    font-size: 1.55rem;
  }

  & a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  & .tags-section {

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--global-gap) / 8);

    & .tag {
      font-size: 0.8rem;
      border-radius: 4px;
      padding: 4px 8px;
      background-color: var(--second-color);
    }
  }
}

.buttons-section {
  display: flex;
  justify-content: space-around;

  & a {
    border: 0px;
    opacity: 70%;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.3s;
    
  }

  & a:hover, a:focus{
    opacity: 100%;
    text-underline-offset: 4px;
  }

  & .link-to-github:hover {
    text-decoration: underline;

  }

  & .link-to-website {
    background-color: var(--accent1-color);
    color: var(--primary-color);
  }
}
