.contact {
  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--global-gap) / 4);

    & li {
      padding: 8px 0px;

      & a {
        font-family: var(--second-font);
        color: var(--third-color);
        background-color: var(--primary-color);
        border: 0;
        border-radius: 8px;
        padding: 8px 16px;
      }

      & a:hover,
      a:focus {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}
