header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:95svh;
    padding:var(--global-gap);

    & hgroup {
        max-width: 700px;
    }
}