nav {
  width:100vw;
  --nav-gap: 8px;
  display: flex;
  background-color: var(--primary-color);
  padding: var(--nav-gap);
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index:2;

  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--nav-gap);
    color: var(--third-color);

    & button {
      height: 100%;
      margin: 0px;
      background-color: var(--primary-color);
      color:inherit;
      border:0px;
      transition: 100ms;
      font-size: 1.25rem;
    }

    & button:hover {
      cursor: pointer;
      color:white;
    }
  }

  & ul:hover{
    color:grey;
  }
}
