@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("./nav.css");
@import url("./header.css");
@import url("./projects.css");
@import url("./card.css");
@import url("./experience.css");
@import url("./skills.css");
@import url("./contact.css");

:root {
  --primary-color: #000000;
  --second-color: #202020;
  --third-color: #e3e2e2;

  --accent1-color: #06d6a0;
  --accent2-color: #ffd166;

  --primary-font: "Lexend", sans-serif;
  --second-font: "Roboto", sans-serif;

  --global-gap: 64px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  font-family: var(--primary-font);
  font-weight: 200;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3,.header-subtitle {
  font-size: 1.25rem;
}

ul,menu {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--third-color);
  font-size: 1.2rem;
  text-decoration: none;
}

button,
input,
a,
p {
  font-family: var(--second-font);
  font-weight: 300;
}

.experience,
.skills,
.contact,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--global-gap);
  padding: var(--global-gap);
  min-height: 100svh;
  & h2 {
    text-align: center;
  }
}

.projects,
.experience {
  background-color: var(--primary-color);
  color: var(--third-color);
}

header,
.contact,
.skills {
  background-color: var(--third-color);
}
