.card {
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--primary-color);

  width: 360px;
  height: 280px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  transition: 0.8s;

  & .project-info-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & h3>a,
    p {
      color: var(--third-color);
    }

    & h3 {
      font-size: 1.5rem;
    }

    & .tags-section {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      & .tag {
        border-radius: 4px;
        padding: 4px 8px;
        background-color: var(--second-color);
      }
    }
  }

  & .buttons-section {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;

    & button {
      font-family: var(--second-font);
      border: 0;
      opacity: 60%;
      border-radius: 8px;
      padding: 8px 0px;

      & a {
        padding: 8px 16px;
      }
    }
    & button:hover {
      opacity: 100%;
    }

    & .button-to-github {
      background-color: var(--accent2-color);
    }
    & .button-to-website {
      background-color: var(--accent1-color);
    }
  }
}

.card:hover,
.card:focus {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 13px 27px -8px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}
